<nav class="navbar navbar-default navbar-fixed-top">
    <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-primary menu navbar-right' %>
	<%= link_to "Log in", user_session_path, :class => 'btn btn-primary menu navbar-right' %>
</nav>
<div style = "padding-top:50px">
	<h1>Welcome to Your Home</h1>
</div>
<style type = "text/css">
  .menu{
    padding: 6px;
    margin: 8px;
  }
</style>